/* Main */
.punwrap {
    background: transparent !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#postreview, .pun .block, .pun .block2col, .pun .blockform, .pun .blocktable {
    background: #272726;
}
.pun h2 {
    color: #ddd;
    background: rgba(80, 80, 80, 0.3);
    border: none;
    border-left: 3px solid #95b806;
    border-radius: 0px;
}
.pun .blocktable .box {
    border: none;
}


/* Inputs */
input[type="text"] {
    padding: 5px;
    margin-top: 4px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #3e3e3d;
}
input[type="text"]:hover {
    transition: 250ms;
    border-bottom: 2px solid rgba(149, 184, 6, 0.5);
} input[type="text"]:focus, input[type="text"]:active {
    color: #eee;
    border-bottom: 2px solid #95b806;
    outline: 0;
}
input[type="submit"] {
    padding: 5px 8px 5px 8px;
}
select {
    padding: 5px;
    margin-top: 4px;
}
input:focus, input:active {
    outline: 0;
}


/* Posting */
.block > .pagepost {
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
}
.blockmenu > .box {
    border: none;
}
.blockmenu > .box > .inbox > ul > li {
    font-size: 10px;
    font-weight: 500;
}


/* Shoutbox */
input#shouttext {
    height: 30px !important;
    margin-top: 0px !important;
}
div#shoutvol {
    line-height: 30px;
}
select#emojiselector {
    top: -4px;
}
#shout .rowEven, #shout .rowOdd {
    background: rgba(0, 0, 0, 0.3)
}


/* Tables */
#adminconsole fieldset td, #adstats dd, #brdfooter #modcontrols, #postpreview, #viewprofile dd, .pun .blockmenu .box, .pun .forminfo, .pun td.tc2, .pun td.tc3, .pun td.tcmod {
    background-color: transparent !important;
}
.pun .inbox thead .tc2, .pun .inbox thead .tc3, .pun .inbox thead .tcl, .pun .inbox thead .tcr {
    color: #bbb !important;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 7px 8px 7px 8px !important;
    border: none;
}
.pun .roweven.inew, .pun .roweven.iclosed, .pun .rowodd.inew, .pun .rowodd.iclosed {
    border-left: 2px solid transparent;
}
.pun .roweven.inew:hover, .pun .roweven.iclosed:hover, .pun .rowodd.inew:hover, .pun .rowodd.iclosed:hover {
    transition: 250ms;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 2px solid #95b806;
}


/* Online Users & Group Legend */
#brdstats.block > .box {
    border: none;
}
#brdstats.block > .box > .inbox {
    padding: 0 !important;
}
#brdstats .conl {
    float: inherit !important;

    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-left: 3px solid #95b806;
    padding: 10px;
}
dl#onlinelist {
    background: rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(149, 184, 6, 0.5);
    margin: 0px 0px 0px 0px;
    padding: 10px;
}
dl#onlinelist dt {
    display: none;
}
dl#grouplegend {
    background: rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(149, 184, 6, 0.5);
    padding: 10px;
}