.punwrap {
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

div#brdmain {
    padding: 15px;
}

#brdstats .conl {
    padding: 10px;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-left: 2px solid #95b806;
}

dl#onlinelist {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0px 7px 0px;
    border-left: 2px solid rgba(149, 184, 6, 0.5);
}

#onlinelist dt {
    display: none;
}

dl#grouplegend {
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0px 7px 0px;
}