/* Main */
.punwrap {
    background: transparent !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
div#brdmain {
    padding: 15px;
}
.pun .inbox thead .tc2, .pun .inbox thead .tc3, .pun .inbox thead .tcl, .pun .inbox thead .tcr {
    background-color: rgba(0, 0, 0, 0.05);
    color: #999 !important;
    padding: 7px 8px 7px 8px !important;
}

/* Online Users & Group Legend */
#brdstats.block > .box {
    border: none;
}
#brdstats.block > .box > .inbox {
    padding: 0 !important;
}
#brdstats .conl {
    float: inherit !important;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-left: 3px solid #95b806;
}
dl#onlinelist {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0px 0px 0px 0px;
    border-left: 2px solid rgba(149, 184, 6, 0.5);
}
dl#onlinelist dt {
    display: none;
}
dl#grouplegend {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-left: 2px solid rgba(149, 184, 6, 0.5);
}
dl#grouplegend dt {
    display: none;
}