<div class="gst-wrapper" id="settingsWindow" v-if="open">
    <div class="gst-window tw-w-full sm:tw-max-w-screen-sm md:tw-max-w-screen-lg tw-backdrop-blur-sm">

        <div class="gst-header">
            <span class="gst-details">
                <i class="fas fa-cogs"></i>
                GameSense Forum Settings
            </span>
            <span class="tw-text-white/50 hover:tw-text-white tw-transition-colors tw-cursor-pointer">
                <i class="fas fa-times" @click="toggleWindow(false)"></i>
            </span>
        </div>

        <div class="gst-tabs">
            <a href="javascript:void(0)" :class="['gst-tab', { active: activePage === 'home' } ]" @click="activePage = 'home'">
                <i class="fas fa-house"></i>
                Home
            </a>
            <a href="javascript:void(0)" :class="['gst-tab', { active: activePage === 'themes' } ]" @click="activePage = 'themes'">
                <i class="fas fa-palette"></i>
                Themes
            </a>
            <a href="javascript:void(0)" :class="['gst-tab', { active: activePage === 'scripts' } ]" @click="activePage = 'scripts'">
                <i class="fas fa-scroll"></i>
                Scripts
            </a>
            <a href="javascript:void(0)" :class="['gst-tab', 'end', { active: activePage === 'settings' } ]" @click="activePage = 'settings'">
                <i class="fas fa-user-cog"></i>
                Settings
            </a>
        </div>

        <div class="gst-content">
            <div class="gst-tabs" v-if="activePage === 'scripts'">

                <a href="javascript:void(0)" :class="['gst-tab', { active: activeScriptPage === 'manager' } ]" @click="activeScriptPage = 'manager'">
                    <i class="fas fa-scroll"></i>
                    <span v-if="activeScriptPage === 'manager' || loadedScripts.length < 5">Script Manager</span>
                </a>

                <!-- List tabs for script UIs -->
                <a v-for="script in loadedScripts" href="javascript:void(0)" :class="['gst-tab', { active: activeScriptPage.key === script.key } ]" @click="activeScriptPage = script" :key="script.key">
                    {{ script.name }}
                </a>
            </div>

            <div>
                <div>
                    <div class="gst-page-header">
                        <h1 v-if="activePage !== 'scripts'" class="tw-text-2xl">{{ getPageName }}</h1>
                        <h1 v-else-if="activeScriptPage === 'manager'" class="tw-text-2xl">Script Manager</h1>
                        <h1 v-else class="tw-text-2xl">{{ activeScriptPage.name }}</h1>

                        <div class="gst-page-actions" v-if="activePage === 'scripts' && activeScriptPage !== 'manager'">
                            <a class="btn btn-xs btn-warning float-right" href="javascript:void(0)" @click="unloadScript(activeScriptPage.key)">
                                Unload
                            </a>
                        </div>
                    </div>
                    <hr>

                    <div class="gst-tab-page">

                        <div v-if="activePage === 'home'" class="tw-flex tw-flex-col tw-space-y-4">
                            <post v-for="(post, index) in feed" :key="`feed-post-${index}`" class="tw-bg-black/30 tw-rounded-lg tw-border tw-border-white/10">
                                <div class="tw-bg-black/50 tw-flex tw-items-center tw-justify-between tw-px-4 tw-py-2 tw-rounded-t-lg">
                                    <div class="tw-flex tw-flex-col">
                                        <span class="tw-font-bold">{{ post.title }}</span>
                                        <span class="text-muted tw-text-xs">{{ getTimeFromNow(post.time) }}</span>
                                    </div>
                                    <div class="text-muted tw-flex tw-flex-col tw-justify-center tw-items-end tw-text-xs">
                                        <span v-if="post.author">Published by</span>
                                        <span v-if="post.author"><strong class="text-primary tw-text-sm">{{ post.author }}</strong></span>
                                    </div>
                                </div>

                                <p v-if="post.content instanceof String" class="tw-p-4">{{ post.content }}</p>

                                <div v-else-if="post.content instanceof Array" class="tw-flex tw-flex-col tw-space-y-2 tw-p-4 tw-text-sm">
                                    <li v-for="content in post.content">
                                        {{ content }}
                                    </li>
                                </div>
                            </post>
                        </div>

                        <div v-else-if="activePage === 'themes'" class="gst-page-themes">
                            <div class="tw-bg-black/5 tw-flex tw-items-center tw-w-full tw-mb-8">
                                <span class="gst-item-input tw-flex-grow">
                                    <input type="text" maxlength="140" placeholder="Enter a URL..." style="width: 98%" v-model="inputTheme">
                                </span>

                                <span class="gst-item-button">
                                    <a class="btn btn-primary" href="javascript:void(0)" @click="inputAddTheme">
                                        Add Theme
                                    </a>
                                </span>
                            </div>

                            <div class="tw-flex tw-flex-col tw-divide-y tw-divide-white/10 tw-border tw-border-white/10">
                                <div v-for="theme in sortedSavedThemes" class="tw-flex tw-justify-between tw-items-center tw-bg-black/25 tw-p-2">
                                    <div class="gst-item-details">
                                        <span class="gst-item-name">
                                            <h3>{{ theme.name }}</h3>
                                        </span>
                                        <span class="gst-item-link text-muted">
                                            {{ theme.link }}
                                        </span>
                                    </div>

                                    <div class="gst-item-actions">
                                        <a v-if="!isThemeActive(theme.link)" class="btn btn-primary" href="javascript:void(0)" @click="addActiveTheme(theme.link)">
                                            Load
                                        </a>
                                        <a v-else class="btn btn-warning" href="javascript:void(0)" @click="removeActiveTheme(theme.link)">
                                            Unload
                                        </a>
                                        <a class="btn btn-danger" href="javascript:void(0)" @click="deleteSavedTheme(theme.link)">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-else-if="activePage === 'scripts' && activeScriptPage === 'manager'" class="gst-page-scripts">
                            <div class="tw-bg-black/5 tw-flex tw-items-center tw-w-full tw-mb-8">
                                <span class="gst-item-input tw-flex-grow">
                                    <input type="text" maxlength="140" placeholder="Enter a URL..." style="width: 98%" v-model="inputScript">
                                </span>

                                <span class="gst-item-button">
                                    <a class="btn btn-primary" href="javascript:void(0)" @click="inputAddScript">
                                        Add Script
                                    </a>
                                </span>
                            </div>

                            <div class="tw-flex tw-flex-col tw-divide-y tw-divide-white/10 tw-border tw-border-white/10">
                                <div v-for="script in sortedSavedScripts" class="tw-flex tw-justify-between tw-items-center tw-bg-black/25 tw-p-2">
                                    <div class="tw-flex tw-flex-col">
                                        <span class="gst-item-name">
                                            <h3>
                                                {{ script.name }}
                                                <small v-if="script.version" class="text-muted">{{ script.version }}</small>
                                                <small v-if="script.author" class="text-muted">by <strong>{{ script.author }}</strong></small>
                                            </h3>
                                        </span>
                                        <span class="gst-item-link text-muted tw-text-sm">
                                            {{ script.link }}
                                        </span>
                                    </div>

                                    <div class="gst-item-actions">
                                        <a v-if="!isScriptActive(script.link)" class="btn btn-primary" href="javascript:void(0)" @click="addActiveScript(script.link)">
                                            Load
                                        </a>
                                        <a v-else class="btn btn-warning" href="javascript:void(0)" @click="removeActiveScript(script.link)">
                                            Unload
                                        </a>
                                        <a class="btn btn-danger" href="javascript:void(0)" @click="deleteSavedScript(script.link)">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-else-if="activePage === 'scripts'" class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 tw-gap-4">
                            <!-- Render intermediate UI for the selected script page -->
                            <div class="tw-flex tw-justify-between tw-items-center tw-bg-black/25 tw-p-2 tw-border tw-border-white/10" v-for="setting in activeScriptPage.settings">
                                <div class="tw-flex tw-flex-col">
                                    <span class="gst-setting-name">
                                        {{ setting.name }}
                                    </span>
                                    <span v-if="setting.description" class="text-muted tw-text-xs">
                                        {{ setting.description }}
                                    </span>
                                </div>

                                <div class="gst-setting-element">

                                    <!-- Regular button -->
                                    <a v-if="setting.type.toLowerCase() === 'button'" class="btn btn-primary" href="javascript:void(0)"
                                        @click="setting.onClick ? setting.onClick() : unhandledEvent(`${activeScriptPage.name} >> ${setting.name}`, 'button click')">
                                        {{ setting.label }}
                                    </a>

                                    <!-- Regular textbox -->
                                    <input v-if="setting.type.toLowerCase() === 'text'" type="text" maxlength="120" :placeholder="setting.placeholder || 'Input text here...'"
                                        v-model="setting.value" @change="setting.onChange ? setting.onChange(setting.value) : unhandledEvent(setting)">

                                    <!-- Regular select -->
                                    <select v-if="setting.type.toLowerCase() === 'select'" v-model="setting.multiple ? setting.values : setting.value" :multiple="setting.multiple || false"
                                        @change="setting.onChange ? setting.onChange(setting.value) : unhandledEvent(setting)"
                                        class="!tw-bg-black/50"
                                    >
                                        <option v-for="(opt, index) in setting.options" :value="index" class="tw-bg-black/75 tw-text-white">
                                            {{ opt }}
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gst-footer">
            <span>
                Made with <i class="fas fa-heart text-danger"></i> by <a href="https://gamesense.pub/forums/profile.php?id=3046">Nexxed</a>
            </span>
        </div>

    </div>
<div>